<div *ngIf="eventDetails !== undefined">
  <h1>
    Details for <em>{{ eventDetails.title }}</em>
  </h1>
  <li>Host: {{ eventDetails.host }}</li>
  <li>Description: {{ eventDetails.description }}</li>
  <li>Location: {{ eventDetails.location }}</li>
  <li>Start Time: {{ eventDetails.start }}</li>
  <li>End Time: {{ eventDetails.end }}</li>
  <li>
    You have to be at least age {{ eventDetails.ageRequirement }} to attend.
  </li>

  <div class="mb-3 mt-3">
    <h4>Is this event one of your favorites?</h4>
    <!-- This form will change "favorited" to true -->
    <form
      #favoriteForm="ngForm"
      (ngSubmit)="setFavorite(favoriteForm)"
      class="d-flex"
    >
      <div>
        <div class="form-check" *ngFor="let favoriteAnswer of favoriteAnswers">
          <input
            class="form-check-input"
            type="radio"
            name="isFavorite"
            ngModel
            pla
            value="{{ favoriteAnswer }}"
          />
          <label class="form-check-label">{{ favoriteAnswer }}</label>
        </div>
      </div>
      <button
        type="submit"
        class="favorite-button btn btn-sm btn-outline-success"
      >
        Submit
      </button>
    </form>
  </div>
</div>

<div class="d-flex justify-content-around">
  <button [routerLink]="'/events'" class="btn btn-outline-primary">
    <fa-icon [icon]="faHome"></fa-icon>
  </button>
  <button [routerLink]="'/favorite-events'" class="btn btn-outline-danger">
    <fa-icon [icon]="faHeart"></fa-icon>
  </button>
</div>
