<div *ngIf="event !== undefined">
  <h1>
    Details for <em>{{ event.title }}</em>
  </h1>
  <li>Host: {{ event.host }}</li>
  <li>Description: {{ event.description }}</li>
  <li>Location: {{ event.location }}</li>
  <li>Start Time: {{ event.start }}</li>
  <li>End Time: {{ event.end }}</li>

  <div class="mb-3 mt-3">
    <h4>Is this event one of your favorites?</h4>

    <div class="d-flex align-items-center favorite-container">
      <button class="btn btn-sm btn-outline-primary" (click)="favoriteYes()">
        <fa-icon [icon]="faThumbsUp"></fa-icon>
      </button>
      <button class="btn btn-sm btn-outline-danger" (click)="favoriteNo()">
        <fa-icon [icon]="faThumbsDown"></fa-icon>
      </button>
      <p>{{ favoritedMessage }}</p>
    </div>
  </div>
</div>

<div class="d-flex justify-content-center">
  <button [routerLink]="'/events'" class="btn btn-outline-primary">
    <fa-icon [icon]="faHome"></fa-icon>
  </button>
  <button
    [routerLink]="['/users', userId, 'favorite-events']"
    class="btn btn-outline-danger"
  >
    Favorites
  </button>
</div>
