<div *ngIf="event !== undefined" class="mt-3">
  <div class="card">
    <h5 class="card-header">{{ event.title }}</h5>
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><b>Host:</b> {{ event.host }}</li>
      <li class="list-group-item">
        <b>Description:</b> {{ event.description }}
      </li>
      <li class="list-group-item"><b>Location:</b> {{ event.location }}</li>
      <li class="list-group-item"><b>Start Time:</b> {{ event.start }}</li>
      <li class="list-group-item"><b>End Time:</b> {{ event.end }}</li>
    </ul>
  </div>

  <div class="mb-3 mt-3">
    <h4>Is this event one of your favorites?</h4>

    <div class="d-flex align-items-center favorite-container">
      <button class="btn btn-sm btn-outline-primary" (click)="favoriteYes()">
        <fa-icon [icon]="faThumbsUp"></fa-icon>
      </button>
      <button class="btn btn-sm btn-outline-danger" (click)="favoriteNo()">
        <fa-icon [icon]="faThumbsDown"></fa-icon>
      </button>
      <p
        [ngClass]="
          favoritedMessageColor == true ? 'text-primary' : 'text-danger'
        "
      >
        {{ favoritedMessage }}
      </p>
    </div>
  </div>
</div>

<div class="col-md-6 mb-3 mt-3 add-event" *ngIf="userId == 6">
  <form name="addEventForm" #updateEventForm="ngForm">
    <h3>Modify This Event</h3>
    <div class="form-group">
      <label for="eventTitle">Title</label>
      <input
        type="text"
        class="form-control"
        id="eventTitle"
        placeholder="Enter title"
        name="title"
        ngModel
        required
      />
    </div>
    <div class="form-group">
      <label for="eventHost">Host Name</label>
      <input
        type="text"
        class="form-control"
        id="eventHost"
        placeholder="Enter host"
        name="host"
        ngModel
        required
      />
    </div>
    <div class="form-group">
      <label for="eventDescription">Description</label>
      <textarea
        class="form-control"
        id="eventDescription"
        rows="5"
        name="description"
        ngModel
        required
      ></textarea>
    </div>
    <div class="form-group">
      <label for="eventLocation">Location</label>
      <input
        type="text"
        class="form-control"
        id="eventLocation"
        placeholder="Enter location"
        name="location"
        ngModel
        required
      />
    </div>
    <div class="form-group">
      <label for="eventStart">Start Time</label>
      <input
        type="text"
        class="form-control"
        id="eventStart"
        aria-describedby="startHelp"
        placeholder="Enter start date and time"
        name="start"
        ngModel
        required
      />
      <small id="startHelp" class="form-text text-muted"
        >Please enter in the format (Year-MonthNumber-DayTHour(24Hour
        time):Minutes:Seconds).</small
      >
    </div>
    <div class="form-group">
      <label for="eventEnd">End Time</label>
      <input
        type="text"
        class="form-control"
        id="eventEnd"
        aria-describedby="endHelp"
        placeholder="Enter end date and time"
        name="end"
        ngModel
        required
      />
      <small id="endHelp" class="form-text text-muted"
        >Please enter in the format (Year-MonthNumber-DayTHour(24Hour
        time):Minutes:Seconds).</small
      >
    </div>
    <button
      type="submit"
      class="btn btn-primary"
      (click)="updateEvent(eventId, updateEventForm)"
    >
      Submit
    </button>
  </form>
</div>

<div class="d-flex justify-content-center">
  <button [routerLink]="['/users', userId]" class="btn btn-outline-primary">
    <fa-icon [icon]="faHome"></fa-icon>
  </button>
</div>
