<div>
  <h1>Events</h1>
  <ul class="list-group list-group-flush">
    <li
      class="list-group-item d-flex justify-content-between"
      *ngFor="let event of events"
    >
      <div>{{ event.title | uppercase }}</div>
      <a [routerLink]="['/users', userId, 'event-details', event.eventId]"
        ><fa-icon [icon]="faCircleInfo"></fa-icon
      ></a>
    </li>
  </ul>
</div>

<button
  [routerLink]="['/users', userId, 'favorite-events']"
  class="btn btn-outline-primary"
>
  Favorite Events
</button>
