<div class="event-list">
  <h1>Events</h1>
  <ul class="list-group list-group-flush">
    <li
      class="list-group-item d-flex justify-content-between"
      *ngFor="let event of events"
    >
      <div>{{ event.title | uppercase }}</div>
      <a [routerLink]="['/users', userId, 'event-details', event.eventId]"
        ><fa-icon [icon]="faCircleInfo"></fa-icon
      ></a>
      <button (click)="removeEvent(event.eventId)">
        <fa-icon [icon]="faTrash"></fa-icon>
      </button>
    </li>
  </ul>
</div>

<button
  type="button"
  class="btn btn-outline-primary"
  (click)="addEventButton()"
>
  {{ addEventButtonText }}
</button>

<div class="col-md-6 mb-3 mt-3 add-event" *ngIf="addEvent == true">
  <form name="addEventForm" #addEventForm="ngForm">
    <h3>Please Add Event Information</h3>
    <div class="form-group">
      <label for="eventTitle">Title</label>
      <input
        type="text"
        class="form-control"
        id="eventTitle"
        placeholder="Enter title"
        name="title"
        ngModel
        required
      />
    </div>
    <div class="form-group">
      <label for="eventHost">Host Name</label>
      <input
        type="text"
        class="form-control"
        id="eventHost"
        placeholder="Enter host"
        name="host"
        ngModel
        required
      />
    </div>
    <div class="form-group">
      <label for="eventDescription">Description</label>
      <textarea
        class="form-control"
        id="eventDescription"
        rows="5"
        name="description"
        ngModel
        required
      ></textarea>
    </div>
    <div class="form-group">
      <label for="eventLocation">Location</label>
      <input
        type="text"
        class="form-control"
        id="eventLocation"
        placeholder="Enter location"
        name="location"
        ngModel
        required
      />
    </div>
    <div class="form-group">
      <label for="eventStart">Start Time</label>
      <input
        type="text"
        class="form-control"
        id="eventStart"
        aria-describedby="startHelp"
        placeholder="Enter start date and time"
        name="start"
        ngModel
        required
      />
      <small id="startHelp" class="form-text text-muted"
        >Please enter in the format (Year-MonthNumber-DayTHour(24Hour
        time):Minutes:Seconds).</small
      >
    </div>
    <div class="form-group">
      <label for="eventEnd">End Time</label>
      <input
        type="text"
        class="form-control"
        id="eventEnd"
        aria-describedby="endHelp"
        placeholder="Enter end date and time"
        name="end"
        ngModel
        required
      />
      <small id="endHelp" class="form-text text-muted"
        >Please enter in the format (Year-MonthNumber-DayTHour(24Hour
        time):Minutes:Seconds).</small
      >
    </div>
    <button
      type="submit"
      class="btn btn-primary"
      (click)="saveEvent(addEventForm)"
    >
      Submit
    </button>
  </form>
</div>

<button
  [routerLink]="['/users', userId, 'favorite-events']"
  class="btn btn-outline-primary"
>
  Favorite Events
</button>
