<div>
  <h1>Your Favorite Events</h1>
  <ul class="list-group list-group-flush">
    <li class="list-group-item" *ngFor="let event of events">
      <div class="d-flex justify-content-between align-items-center">
        <div>{{ event.title | uppercase }}</div>
        <div class="d-flex align-items-center">
          <a [routerLink]="['/event-details', event.eventId]"
            ><fa-icon [icon]="faCircleInfo"></fa-icon
          ></a>
        </div>
      </div>
    </li>
  </ul>
</div>

<!-- <button [routerLink]="'/events'" class="btn btn-outline-primary">
  <fa-icon [icon]="faHome"></fa-icon>
</button> -->
