<div>
  <h1>Favorite Events</h1>
  <ul class="list-group list-group-flush">
    <li class="list-group-item" *ngFor="let event of events">
      <div
        class="d-flex justify-content-between align-items-center"
        *ngIf="event.favorited == true"
      >
        <div>{{ event.title | uppercase }}</div>
        <div class="d-flex align-items-center">
          <a [routerLink]="['/event-details', event.eventId]"
            ><fa-icon [icon]="faCircleInfo"></fa-icon
          ></a>
          <!-- This form will change "favorited" to false -->
          <form
            class="d-flex align-items-center"
            #deleteFavoriteForm="ngForm"
            (ngSubmit)="setFavorite(deleteFavoriteForm)"
          >
            <div class="form-check">
              <input
                class="form-check-input"
                type="radio"
                name="id"
                ngModel
                value="{{ event.eventId }}"
                checked
              />
            </div>
            <button type="submit" class="btn text-danger">
              <fa-icon [icon]="faTrash"></fa-icon>
            </button>
          </form>
        </div>
      </div>
    </li>
  </ul>
</div>

<button [routerLink]="'/events'" class="btn btn-outline-primary">
  <fa-icon [icon]="faHome"></fa-icon>
</button>
